<template name="display">

    <style>
        .display--landscape .display__tap {
            flex-basis: {{flexBasis _id}}%;
        }

        .display--portrait .display__tap {
            height: {{flexBasis _id}}vh;
        }
    </style>
    <ul class="display display--portrait no-list-style">
        {{#each taps _id}}
            <li class="display__tap display__srm {{#if onTap}}{{#with whatsOnTap onTap}}display__srm--{{srm}}{{/with}}{{/if}}">
                <div class="display__tap__container">
                    {{#if onTap}}
                        {{#with whatsOnTap onTap}}
                            <h2 class="display__name">{{name}}{{#if abv}}<span class="display__abv">{{abv}}</span>{{/if}}</h2>
                            <ul class="display__data">{{#if type}}<li class="display__data__type">{{type}}</li>{{/if}}{{#with getBJCPSubcategory bjcpSubcategory}}<li class="display__data__subcategory">{{name}}</li>{{/with}}</ul>
                        {{/with}}
                    {{ else }}
                        <h2 class="display__name display__name--empty">Fuck you, nothing here!</h2>
                    {{/if}}
                </div>
            </li>
        {{/each}}
    </ul>
</template>
