<head>
  <title>Taply</title>
  <script src="https://use.typekit.net/opq0qzs.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>

<body>
<!-- don't put anything in the body. use iron router to do this -->
</body>



<template name="main">
    <header class="header container">
        <h2 class="site-title"><a href="{{pathFor route='home'}}">Taply</a></h2>
        {{> navigation}}
    </header>
    <div class="container">
        {{> yield}}
    </div>
</template>

<template name="navigation">
    <nav>
        <ul class="no-list-style inline-nav">
            <li><a href="{{pathFor route='tapLists'}}">TapLists</a></li>
            {{#if currentUser}}
                <li><a href="{{pathFor route='addBev'}}">Add Bev</a></li>
                <li><a href="/user/{{currentUser.username}}">My TapLists &amp; Bevs</a></li>
                <li><a href="#" class="logout">Logout</a></li>
            {{else}}
                <li><a href="{{pathFor route='register'}}">Register</a></li>
                <li><a href="{{pathFor route='login'}}">Login</a></li>
            {{/if}}
        </ul>
    </nav>
</template>

<template name="loading">
  <h1>LOADING</h1>
</template>
