<template name="register">
    <h1>Register</h1>
    <form class="register">
        <label for="email">Email</label>
        <input id="email" type="email" name="email">

        <label for="username">Username</label>
        <input id="username" type="username" name="username">

        <label for="password">Password</label>
        <input id="password" type="password" name="password">

        <input type="submit" value="Register">
    </form>
</template>

<template name="login">
    <h1>Login</h1>
    <form class="login">
        <label for="email">Email</label>
        <input id="email" type="email" name="email">

        <label for="password">Password</label>
        <input id="password" type="password" name="password">

        <input type="submit" value="Login">
    </form>
</template>
