<template name="tapLists">
    <h2>All User's TapLists</h2>
    <ul class="no-list-style block-list">
        {{#each tapList}}
            {{>tapListLI}}
        {{/each}}
    </ul>
</template>

<template name="tapListLI">
  <li><a href="/taplist/{{owner}}/{{slug}}">{{name}}</a>
      {{#if isOwner ownerId}}
          <a href="#" class="delete-taplist">Delete</a>
      {{/if}}
  </li>
</template>

<template name="tapListPage">
    <h2>TapList: {{name}}</h2>
    <a href="/taplist/{{owner}}/{{slug}}/display">Display Mode</a>
    {{#if isOwner ownerId}}
        <a href="/taplist/{{owner}}/{{slug}}/update">Edit Taplist</a>
    {{/if}}
    {{> taps }}
    {{#if isOwner ownerId}}
        <h3>Your Bevs</h3>
        {{> bevs }}
    {{/if}}
</template>

<template name="addTapList">
    <form class="add-TapList">
        {{> tapListForm}}
        <br/>
        <input class="btn" type="submit" value="Create Taplist">
    </form>
</template>

<template name="editTapList">
    <form class="edit-TapList">
        {{> tapListForm}}
        <br/>
        <input class="btn" type="submit" value="Update Taplist">
    </form>
</template>


<template name="tapListForm">
    <label for="name">Taplist Name</label>
    <input id="name" type="text" value="{{name}}" name="name">

    <label for="number-of-taps">How many taps does this taplist have?</label>
    <input id="number-of-taps" value="{{howManyTaps _id}}" type="number" min="1" max="1000" name="number-of-taps">
</template>
