<template name="tapLists">
    <h2 class="title--small">All User’s TapLists</h2>
    <ul class="no-list-style block-list">
        {{#each tapList}}
            {{>tapListLI}}
        {{/each}}
    </ul>
</template>

<template name="tapListLI">
  <li><a href="/taplist/{{owner}}/{{slug}}">{{name}}</a>
      {{#if isOwner ownerId}}
          <a href="#" class="delete delete-taplist"><svg class="icon icon--delete">
          <use xlink:href="#icon-close" />
      </svg></a>
      {{/if}}
  </li>
</template>

<template name="tapListPage">
    <h2 class="taplist__title"><span class="title--small">TapList</span><br/><a class="taplist__display-link" href="/taplist/{{owner}}/{{slug}}/display">{{name}}</a></h2>
    {{#if isOwner ownerId}}
        <a class="taplist__edit-link" href="/taplist/{{owner}}/{{slug}}/update">Edit</a>
    {{/if}}
    {{> taps }}
    {{#if isOwner ownerId}}
        <h3 class="title--small">Your Bevs</h3>
        {{> bevs }}
    {{/if}}
</template>

<template name="addTapList">
    <form class="add-TapList">
        {{> tapListForm}}
        <br/>
        <input class="btn" type="submit" value="Create Taplist">
    </form>
</template>

<template name="editTapList">
    <form class="edit-TapList">
        {{> tapListForm}}
        <br/>
        <input class="btn" type="submit" value="Update Taplist">
    </form>
</template>


<template name="tapListForm">
    <label for="name">Taplist Name</label>
    <input id="name" type="text" value="{{name}}" name="name">

    <label for="number-of-taps">How many taps does this taplist have?</label>
    <input id="number-of-taps" value="{{howManyTaps _id}}" type="number" min="1" max="1000" name="number-of-taps">
</template>
