<template name="taps">
    <h3>{{name}}'s Taps</h3>
    <ul class="taps no-list-style block-list">
        {{#each taps _id}}
            <li>
                Tap: <strong>{{name}}</strong><br/>
                {{_id}}
                {{#if isOnTap _id}}
                    {{#each isOnTap _id}}
                        Bev: <strong>{{name}}</strong>
                        {{#if isOwner owner}}
                            <a href="remove-bev-from-tap">Remove Bev</a>
                        {{/if}}
                    {{/each}}
                    {{_id}}
                {{ else }}
                    {{#if isOwner owner}}
                        <form class="put-on-tap">
                            <select class="put-on-tap-bev-list">
                            {{#each ownerBevs owner}}
                                <option data-bevID="{{_id}}">{{name}}</option>
                            {{/each}}
                            </select>
                            <input type="submit" value="Put On Tap">
                        </form>
                    {{/if}}
                {{/if}}
                <br/>
                {{#if isOwner owner}}
                    <a href="#" class="delete-tap">Delete Tap</a>
                {{/if}}
            </li>
        {{/each}}
    </ul>
</template>

<template name="addTap">
    <h3>Add Tap: {{name}}</h3>
    {{> addTapForm}}
</template>


<template name="addTapForm">
    <form class="add-tap">
        <label for="tap-name">Tap Name - Designator (Star, Circle, Red, etc)</label>
        <input id="tap-name" type="text" name="tap-name" />

        <label for="tap-location">Tap Position (From Left to Right)</label>
        <input id="tap-location" type="number" name="tap-location" min="1" max="20"/>

        <input type="submit" value="Add Tap">
    </form>
</template>
