<template name="taps">
    <ul class="taps no-list-style">
        {{#each taps _id}}
            <li class="tap">
                <span class="tap-number">{{tapCount @index}}</span>
                {{#if onTap}}
                    {{#with whatsOnTap onTap}}
                        <strong>{{name}}</strong>
                    {{/with}}
                    {{#if isOwner ownerId}}
                        <a class="remove-bev-from-tap" href="#">Remove Bev</a>
                    {{/if}}

                {{ else }}
                    Empty
                    {{#if isOwner ownerId}}
                        <form class="put-on-tap">
                            <select class="put-on-tap-bev-list">
                            {{#each ownerBevs ownerId}}
                                <option data-bevID="{{_id}}">{{name}}</option>
                            {{/each}}
                            </select>
                            <input type="submit" value="Put On Tap">
                        </form>
                    {{/if}}
                {{/if}}
                <br/>
                {{#if isOwner ownerId}}
                    <a href="#" class="delete-tap">Delete Tap</a>
                {{/if}}
            </li>
        {{/each}}
        {{#if isOwner ownerId}}
            <li>{{> addTap }}</li>
        {{/if}}
    </ul>
</template>

<template name="addTap">
    <a class="add-tap" href="taps/add">Add Tap</a>
</template>
