<template name="taps">
    <ul class="taps no-list-style block-list">
        {{#each taps _id}}
            <li>
                {{location}}:
                {{#if onTap}}
                    {{#with whatsOnTap onTap}}
                        <strong>{{name}}</strong>
                    {{/with}}
                    {{#if isOwner ownerId}}
                        <a class="remove-bev-from-tap" href="#">Remove Bev</a>
                    {{/if}}

                {{ else }}
                    Empty
                    {{#if isOwner ownerId}}
                        <form class="put-on-tap">
                            <select class="put-on-tap-bev-list">
                            {{#each ownerBevs ownerId}}
                                <option data-bevID="{{_id}}">{{name}}</option>
                            {{/each}}
                            </select>
                            <input type="submit" value="Put On Tap">
                        </form>
                    {{/if}}
                {{/if}}
                <br/>
                {{#if isOwner ownerId}}
                    <a href="#" class="delete-tap">Delete Tap</a>
                {{/if}}
            </li>
        {{/each}}
        {{#if currentUser}}
            <li><a href="{{name}}/add-tap">Add Tap</a></li>
        {{/if}}
    </ul>
</template>

<template name="addTap">
    <h3>Add Tap: {{name}}</h3>
    {{> addTapForm}}
</template>

<template name="addTapForm">
    <form class="add-tap">
        <label for="tap-location">Tap Position (From Left to Right)</label>
        <input id="tap-location" type="number" name="tap-location" min="1" max="20"/>

        <input type="submit" value="Add Tap">
    </form>
</template>
