body {
    box-sizing: border-box;
}

.flex-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 40em;
    padding: 1em 20px;
    margin: 0 auto;
}
