.display {
    display: flex;
    justify-content: space-between;
    margin: 0;
    counter-reset: tap-counter;
}

.display__tap {
    counter-increment: tap-counter;
}

.display__tap:before {
    content: counter(tap-counter);
    font-weight: 500;
    font-size: 2rem;
    color: #999;
    position: relative;
    top: -0.4rem;
}

.display--portrait {
    flex-direction: column;
    width: 100%;
}

.display--portrait .display__tap {
    display: flex;
    align-items: center;
    align-content: center;
    position: relative;
    top: -0.4rem;
    padding-left: 2rem;
}

.display--portrait .display__tap__container {
    position: relative;
    top: -0.4rem;
    margin-left: 1rem;
}

.display--portrait .display__type {
    position: absolute;
    margin: 0;
    line-height: 1;
}

.display--portrait .display__tap:nth-child(even) {
    background: #FBF6EB;
}

.display--landscape .display__tap {
    flex: 1 1 25%;
    padding: 1%;
    border-right: 1px solid #ddd;
    height: 95vh;
    max-width: 100%;
}

.display--landscape .display__tap:last-child {
    border-right: none;
}

.display__name {
    font-size: 2rem;
    margin-bottom: 0;
}

.display__name--empty {
    color: #aaa;
}

.display__abv {
    position: relative;
    margin-left: 1rem;
}

.display__abv:after {
    content: '%';
    font-size: 1rem;
    position: absolute;
    top: 0.4rem;
}

.display__data {
    list-style: none;
    margin: 0;
}

.display__data li {
    display: inline-block;
    margin-right: .6em;

    &:before {
        margin-right: .6em;
        content: '/';
        color: #bbb;
    }

    &:first-child:before {
        content: '';
        margin-right: 0;
    }
}

.bev-details {
    position: absolute;
    top: 0;
    right: 0px;
}

.bev-details__bev {
    position: absolute;
    z-index: 999;
    height: 100vh;
    overflow-y: scroll;
    padding: 2em 10px;
    @media (min-width: 460px) {
        width: 400px;
        padding: 2em 30px;
    }
    transform: translate3d(0, 0, 0);
    background: #fff;
    box-shadow: -1px 0 0 rgba(0,0,0,.12);
    &:nth-child(even) {
        background: #FBF6EB;
    }
    transition: all .3s ease-in-out;
}

.bev-details__bev--active {
    transform: translate3d(-320px, 0, 0);
    @media (min-width: 460px) {
        transform: translate3d(-400px, 0, 0);
    }
}

.bev-details__close {
    position: absolute;
    top: 2em;
    right: 10px;
}

.display__srm {
    border-left: 2vw solid #ff00b8;
}

.display__srm--1 {
    border-color: #FDE69D;
}
.display__srm--2 {
    border-color: #FCD87F;
}
.display__srm--3 {
    border-color: #FCCA63;
}
.display__srm--4 {
    border-color: #FBC050;
}
.display__srm--5 {
    border-color: #F5B238;
}
.display__srm--6 {
    border-color: #F3A728;
}
.display__srm--7 {
    border-color: #EC9D26;
}
.display__srm--8 {
    border-color: #E48F23;
}
.display__srm--9 {
    border-color: #E18822;
}
.display__srm--10 {
    border-color: #D87E1F;
}
.display__srm--11 {
    border-color: #D1741D;
}
.display__srm--12 {
    border-color: #C96C1B;
}
.display__srm--13 {
    border-color: #C4641A;
}
.display__srm--14 {
    border-color: #BD5C18;
}
.display__srm--15 {
    border-color: #B45315;
}
.display__srm--16 {
    border-color: #AE4F14;
}
.display__srm--17 {
    border-color: #AA4713;
}a
.display__srm--18 {
    border-color: #A04011;
}
.display__srm--19 {
    border-color: #9A390F;
}
.display__srm--20 {
    border-color: #94350E;
}
.display__srm--21 {
    border-color: #8F2F0D;
}
.display__srm--22 {
    border-color: #8A2D0D;
}
.display__srm--23 {
    border-color: #82260B;
}
.display__srm--24 {
    border-color: #7D200A;
}
.display__srm--25 {
    border-color: #761D09;
}
.display__srm--26 {
    border-color: #711C07;
}
.display__srm--27 {
    border-color: #6B1607;
}
.display__srm--28 {
    border-color: #661006;
}
.display__srm--29 {
    border-color: #611006;
}
.display__srm--30 {
    border-color: #5A0E05;
}
.display__srm--31 {
    border-color: #540D05;
}
.display__srm--32 {
    border-color: #5C0B06;
}
.display__srm--33 {
    border-color: #4E0B0B;
}
.display__srm--34 {
    border-color: #490708;
}
.display__srm--35 {
    border-color: #430808;
}
.display__srm--36 {
    border-color: #410909;
}
.display__srm--37 {
    border-color: #3B0A0A;
}
.display__srm--38 {
    border-color: #380809;
}
.display__srm--39 {
    border-color: #38080C;
}
.display__srm--40 {
    border-color: #34090B;
}
